:root { /*Criando as variaveis de cores*/
   --branco-principal: #FFFFFF;
   --cinza-secundario: #C0C0C0;
   --botao-azul:#167BF7;
   --cor-de-fundo:#00030C;
   --fonte-principal:'Inter';
   --botao-azul-efeito:#3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* { /*Zerando a margem e o padding*/
    margin:0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns:50% 50%; 
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none; 
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border:2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin:0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center; /*Centralizar Itens da Lista*/
    list-style: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}


.rodape {
    text-align: center; /* Centralização da imagem da Logo; Centralização da lista; ;*/
    margin: 5em 3em;
}

.rodape__lista {
    display: flex; /* Transformar a lista em um flex-container para os links ficarem em linha */
    justify-content: center;/*Centralizar os textos */
    list-style-type: none; /*retirar a decoração da lista*/
    margin-top: 1em; /*Separar todos elementos através de margins */
}

.lista__link a{
    text-decoration: none; /*retirar a decoração do texto*/
    color: var(--branco-principal); /* Colorir esses links */
    margin-left: 1em; /*Separar todos elementos através de margins */
}

.rodape__texto {
    margin: 1em 0; /*Separar todos elementos através de margins */
    color: var(--cinza-secundario); /* Colorir esses textos */
    font-size: 14px; /*Aumentar tamanho da fonte*/
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);  /* PseudoClasses */
    color: var(--cor-de-fundo);
}

